<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mapper.CharacteristicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.pojo.Characteristic">
        <id column="characteristic_id" property="characteristicId" />
        <result column="epic_id" property="epicId" />
        <result column="name" property="name" />
        <result column="overview" property="overview" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        characteristic_id, epic_id, name, overview
    </sql>

</mapper>
