<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.pojo.Project">
        <id column="project_id" property="projectId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="topic" property="topic" />
        <result column="overview" property="overview" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        project_id, start_time, end_time, topic, overview
    </sql>

</mapper>
